<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- MudBlazor CSS + Roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />  @* [3](https://docs.dndocs.com/n/MudBlazor/8.0.0/api/MudBlazor.MudIcon.html) *@

    <HeadOutlet />
</head>
<body>
    <Routes>
        <RouteView DefaultLayout="@typeof(Agpme.Bbg.Stream.Playground.Client.Components.Layout.MainLayout)" />
    </Routes>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script> @* [3](https://docs.dndocs.com/n/MudBlazor/8.0.0/api/MudBlazor.MudIcon.html) *@
</body>
</html>